*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}
header{
    padding: 20px;
    background: #151c39e8;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}
.links{
    display: flex;
    gap: 50px;
}
.logo svg{
    width: 64px;
    fill: white !important;
}
.logo{
    font-size: 48px;
}
header a{
    color: white;
    text-decoration: none;
}
.top{
    background: url("img/background.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}
.top div{
    display: flex;
    align-items: center;
}
.top h1{
    margin-block-end: 0;
}
.top a{
    text-decoration: none;
    color: black;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocks img{
    width: 100px;
}
.blocks{
    display: flex;
}
.blocks div{
    display: flex;
    flex-direction: column;
    align-items: center;
}